<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Data modelling climate risks</h1>
    <p>This program takes latitude and longitude pairs in a document comma separated, no spaces, with a new line for each pair and outputs climate data for each location</p>

    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>

    <div style="background-color: lightgray;">
        {% if items == [] %}
        <h2>No output found</h2>
        {% else %}

        {% for item in items %}
        <img src="output/{{ item }}">
        {% endfor %}

        {% endif %}
    </div>

</body>

</html>
